@using Humanizer
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Newter.Models.Newt>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{

    <div class="row">
        <br />
        <br />
        <div class="col-md-1">
            <img class="img-circle" src="https://unsplash.it/50/50?image=1072">
        </div>
        <span>
            @Html.DisplayFor(modelItem => item.Author.Handle)
            @Html.DisplayFor(model => model.First().Author.Handle)
        </span>
        <span> @Html.DisplayFor(model => model.First().DateCreated)</span>
        <span>@Html.DisplayFor(model => model.First().TextBody)</span>
    </div>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}))