@using Humanizer
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Newter.Models.Newt>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        <b>Search By</b>
        @Html.RadioButton("searchBy", "Handle", true)<text>Author</text>
        @Html.RadioButton("searchBy", "TextBody")<text>Text</text>
        <br/>
        @Html.TextBox("search")   <input type="submit" value="Search" />
    </p>
}

@foreach (var item in Model)
{

    <div class="row">
        <br />
        <br />
        <div class="col-md-1">
            <img class="img-responsive img-thumbnail" src="https://unsplash.it/50/50?image=1072">
        </div>
        <span>
           
            @Html.DisplayFor(modelItem => item.Author.Handle)
        </span>
        <span> @Html.DisplayFor(modelItem => item.DateCreated)</span>
        <span>@Html.DisplayFor(modelItem => item.TextBody)</span>
    </div>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}))